.container {
    display: flex;
    justify-content: space-between;
}

.main-left {
    flex-basis: 55%;
}

.main-left .imgs {
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 100%;
    margin-top: 30px;
}

.main-right {
    flex-basis: 40%;
}
